<div class="container">
<h1>All Orders</h1>

<ul class="kitchen-orders">
<% @item_orders.each do |item_order| %>

<% time = ((Time.now - item_order.created_at)/60).round %>

<% if time < 5 %>
<li class="green">

<strong><%= item_order.food_item.name %>, (Table <%= item_order.party.table_num %>)</strong><br>
<span><%= time %> mins ago!</span>
<form action="/item_orders/<%= item_order.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="item_order[complete]" value="TRUE">
  <button type="submit" class="order-complete">COMPLETE</button>
</form>

<% elsif time > 15 %>
<li class="red">

<strong><%= item_order.food_item.name %>, (Table <%= item_order.party.table_num %>)</strong><br>
<span><%= time %> mins ago!</span>
<form action="/item_orders/<%= item_order.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="item_order[complete]" value="TRUE">
  <button type="submit" class="order-complete">COMPLETE</button>
</form>


<% else %>
<li class="orange">

<strong><%= item_order.food_item.name %>, (Table <%= item_order.party.table_num %>)</strong><br>
<span><%= time %> mins ago!</span>
<form action="/item_orders/<%= item_order.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="item_order[complete]" value="TRUE">
  <button type="submit" class="order-complete">COMPLETE</button>
</form>



</li>

<% end %>

<% end %>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/parties">Tables</a></li>
        <li class="active"><a href="/item_orders">Kitchen</a></li>
        <li><a href="/food_items">Menu</a></li>
        <li><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
