<div class="container">
<h1>Enter Order</h1>
<ul class="new-order">
<div id="accordion">
  <h4 class="foods">Burritos</h4>
  <div>
    <ul>
      <% @burritos.each do |burrito| %>
        <li class="row">
          <span class="col-xs-8"><%= burrito.name %></span>
          <span class="col-xs-4"><form action="/item_orders" method="post">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= burrito.id %>">
              <button type="submit" name="button" class="add-order">+</button>
          </form></span>
        </li>
      <% end %>
    </ul>
  </div>
  <h4 class="foods">Tacos</h4>
  <div>
    <ul>
      <% @tacos.each do |taco| %>
        <li class="row">
          <span class="col-xs-8"><%= taco.name %></span>
          <span class="col-xs-4"><form action="/item_orders" method="post">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= taco.id %>">
              <button type="submit" name="button" class="add-order">+</button>
          </form></span>

        </li>
      <% end %>
    </ul>
  </div>
  <h4 class="foods">Nachos</h4>
  <div>
    <ul>
      <% @nachos.each do |nacho| %>
        <li class="row">
          <span class="col-xs-8"><%= nacho.name %></span>
          <span class="col-xs-4"><form action="/item_orders" method="post">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= nacho.id %>">
              <button type="submit" name="button" class="add-order">+</button>
          </form></span>

        </li>
      <% end %>
    </ul>
  </div>
  <h4 class="foods">Fajitas</h4>
  <div>
    <ul>
      <% @fajitas.each do |fajita| %>
        <li class="row">
          <span class="col-xs-8"><%= fajita.name %></span>
          <span class="col-xs-4"><form action="/item_orders" method="post">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= fajita.id %>">
              <button type="submit" name="button" class="add-order">+</button>
          </form></span>
        </li>
      <% end %>
    </ul>
  </div>


</div>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>

</div>
