<div class="container four columns">
<h3>Enter Order</h3>
<ul>
<div id="accordion">

  <h4>Burritos</h4>
  <div>
    <ul>
      <% @burritos.each do |burrito| %>
        <li>
          <%= burrito.name %>
          <form action="/item_orders" method="post">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= burrito.id %>">
              <button type="submit" name="button">+</button>
          </form>

        </li>
      <% end %>
    </ul>
  </div>

  <h4>Tacos</h4>
  <div>
    <ul>
      <% @tacos.each do |taco| %>
        <li>
          <%= taco.name %>
          <form action="/item_orders" method="post" value="+">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= taco.id %>">
              <button type="submit" name="button">+</button>
          </form>

        </li>
      <% end %>
    </ul>
  </div>

  <h4>Nachos</h4>
  <div>
    <ul>
      <% @nachos.each do |nacho| %>
        <li>
          <%= nacho.name %>
          <form action="/item_orders" method="post" value="+">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= nacho.id %>">
              <button type="submit" name="button">+</button>
          </form>

        </li>
      <% end %>
    </ul>
  </div>

  <h4>Fajitas</h4>
  <div>
    <ul>
      <% @fajitas.each do |fajita| %>
        <li>
          <%= fajita.name %>
          <form action="/item_orders" method="post" value="+">
            <input type="hidden" name="party_id" value="<%= @party.id %>">
            <input type="hidden" name="food_item_id" value="<%= fajita.id %>">
              <button type="submit" name="button">+</button>

          </form>
        </li>
      <% end %>
    </ul>
  </div>


</div>
</ul>

</div>
