<div class="container">
<h1>Select a <strong>Table</strong></h1>

<div class="tables">
  <% (1..9).each do |i| %>

    <% if ((party = Party.find_by(table_num: i)) && !Party.find_by(table_num: i).is_paid?) %>
      <a href="/parties/<%= party.id %>/edit" class="clickable occupied btn btn-default"><%= i %></a>
    <% elsif (Party.find_by(table_num: i) && Party.find_by(table_num: i).is_paid? )%>
      <a href="/parties/new?table_num=<%=i%>" class="clickable btn btn-default"><%= i %></a>
    <% else %>
      <a href="/parties/new?table_num=<%=i%>" class="clickable  btn btn-default"><%= i %></a>

    <% end %>

  <% end %>
</div>
<br>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <a class="navbar-brand" href="/parties">Cheesy Burritos</a>
    </div> -->
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/parties">Tables</a></li>
        <li><a href="/item_orders">Kitchen</a></li>
        <li><a href="/food_items">Menu</a></li>
        <li><a href="/food_items/allergens">Allergens</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <a href="/item_orders" class="button btn">Kitchen</a> -->
<!-- <a href="/food_items" class="button btn">Menu</a> -->
<!-- <a href="../editall" class="button">See All Receipts</a>
<a href="../" class="button">See All Parties</a> -->

</div>
