<div class="container">
  <h4>CONFIRM ORDER</h4>
  <hr>
  <h3>Party: <%= @party.id %></h3>
  <h5> Table: <%= @party.table_num %></h5><hr>

<ul class="party-order">
<% @item_orders.each do |item_order| %>
<li class="row"><span class="col-xs-8">&middot; <%= item_order.food_item.name %></span>
  <span class="col-xs-4"><form action="/parties/<%= item_order.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button" class="subtract-order">-</button>
  </form></span>
</li>
<% end %>
</ul>



<div class="submit-order">
  <a href="/item_orders/new?pid=<%= @party.id %>" class="btn btn-info submit-order submit">ADD ITEM</a><br>
  <a href="/parties/<%= @party.id %>/edit" class="btn btn-info submit">SUBMIT ORDER</a>
</div>
</div>
